html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

#app {
    flex-grow: 1;
    display: flex; /* Make #app a flex container */
    flex-direction: column; /* Stack its children vertically */
}

main {
    flex-grow: 1; /* Make the main content area grow */
}
